
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');



.navbar{
    display: flex;
    justify-content: center;
}
.button-container {
  display: flex;
  background-color: black;
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
.welcome{
    display: flex;
    justify-content: center;
    padding-top: 92px;
    font-size: 400%;
    font-family: "Fuzzy Bubbles", sans-serif;
}
/* From Uiverse.io by gharsh11032000 */ 
.started {
    
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: black;
  border: 2px solid black;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.started::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: black;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.started:hover::before {
  scale: 3;
}

.started:hover {
  color: white;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.started:active {
  scale: 1;
}
.start-btn{
    padding-top: 40%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.firstcard{
  width: 20%;
  height: 200px;
  background-color: ;
}
